html{
    background-color: grey;
}
body{
    font-size: 20px;
    background-color: white;
}

h2{
    margin-left: 10px;
}

header div{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    outline: 1px solid rgb(90, 89, 89);
    padding: 25px;
    margin-bottom: 20px;
}

.event{
    outline: 1px solid rgb(177, 177, 177);
    padding: 12px;
    margin-top: 10px;
}

div.description{
    padding: 5px;
}

.left{
    color: rgb(0, 0, 0);
    float:left;
    width: 10%;
}
.right{
    float: right;
    width: 90%;
}
.event:after{
  content: "";
  display: table;
  clear: both;
}