<!DOCTYPE html>
<html>

<head>
    <title>Cloud Comp A2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>



<body>
    <header>
        <!-- <div>Signed in user: /googleName?</div> -->
        <div>
            Cloud Computing Assignment 2 - Jonathon Mitterbacher s3784464 & Danial Isman s3786400
        </div>
    </header>
    <h2>Upcoming Events: </h2>
    <!-- for every event, print: -->
    <div class="event">
        {% for e in events %}
        <div class="left">
            Date:
            {{ e.getDate() }}
            <br>
            Weather:
            Day {{ weathers[0]['daily'][e.getDay()]['temp']['day'] }} °C
            <br>
        </div>

        <div class="right">
                
             
            Event:
            {{ e.getName() }}
            <br>
            Time:
            {{ e.getTime() }}
            <br>
            Location:
            {{e.getCity()}}, {{e.getState()}}, {{e.getCountry()}}
            <br>
            
            
        </div>
        {% endfor %}
    </div>
</body>

</html>