<!DOCTYPE html>
<html>

<head>
    <title>Cloud Comp A2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <!-- <div>Signed in user: /googleName?</div> -->
        <div>
            Cloud Computing Assignment 2 - Jonathon Mitterbacher s3784464 & Danial Isman s3786400
        </div>
    </header>
    <h2>Upcoming Events: </h2>
    <!-- for every event, print: -->

    <div class="events">
        {% for e in events %}
        <div class="event">
            <div class="left">
                <div class="date">{{ e.getDate() }}</div>
                <br>
                <div class="temperature">{{ weathers[0]['daily'][e.getDay()]['temp']['day'] }} °K</div>
            </div>

            <div class="right">
                <div class="name">{{ e.getName() }}</div>
                <div class="time">{{ times[0] }} &nbsp;&nbsp;&nbsp;&nbsp; <a
                        href='https://us-central1-cc-s3784464-a2.cloudfunctions.net/to12Hour?time={{ e.getTime() }}'
                        target="_blank">Convert to AM/PM</a></div>

                <script>
                    function httpGet(theUrl) {
                        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {// code for IE6, IE5
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                createDiv(xmlhttp.responseText);
                            }
                        }
                        xmlhttp.open("GET", theUrl, false);
                        xmlhttp.send();
                    }
                    function createDiv(responsetext) {
                        var _body = document.getElementsByTagName('body')[0];
                        var _div = document.createElement('div');
                        _div.innerHTML = responsetext;
                        _body.appendChild(_div);
                    }

                //createDiv((httpGet("https://us-central1-cc-s3784464-a2.cloudfunctions.net/to12Hour?time=14:00")));
                //onclick = 'createDiv(httpGet("https://us-central1-cc-s3784464-a2.cloudfunctions.net/to12Hour?time=14:00"))'
                </script>

                <div class="location">{{e.getCity()}}, {{e.getState()}}, {{e.getCountry()}}</div>
            </div>
        </div>
        {% endfor %}

    </div>
</body>

</html>