<!DOCTYPE html>
<html>

<head>
    <title>Cloud Comp A2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>



<body>
    <header>
        <!-- <div>Signed in user: /googleName?</div> -->
        <div>
            Cloud Computing Assignment 2 - Jonathon Mitterbacher s3784464 & Danial Isman s3786400
        </div>
    </header>
    <h2>Upcoming Events: </h2>
    <!-- for every event, print: -->
    
    <div class="events">
        {% for e in events %}
        <div class="event">
        <div class="left">
            <div class="date">{{ e.getDate() }}</div>
            <br>
            <div class="temperature">{{ weathers[0]['daily'][e.getDay()]['temp']['day'] }} °K</div>
        </div>

        <div class="right">
            <div class="name">{{ e.getName() }}</div>
            <div class="time">{{ e.getTime() }}</div>
            <div class="location">{{e.getCity()}}, {{e.getState()}}, {{e.getCountry()}}</div>
            
            
        </div>
    </div>
    {% endfor %}
    
</div>
</body>

</html>