html{
    background-color: grey;
}
body{
    font-size: 20px;
    background-color: white;
}

h2{
    margin: 0 0 8px 8px;
}

header div{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    outline: 1px solid rgb(90, 89, 89);
    padding: 25px;
    margin-bottom: 20px;
}

.temperature{
    margin-top: 3px;
}

.event{
    outline: 2px solid rgb(90, 90, 90);
    padding: 9px;
    width: auto;
    margin-bottom: 8px;
    background-color: white;
}

.event:hover{
    background-color: rgb(221, 221, 221);
}

div.description{
    padding: 5px;
}

.left{
    color: rgb(0, 0, 0);
    float:left;
    width: 15%;
    font-size: 30px;
    margin-right: 25px;
}

.right{
    font-size: 20px;
}

.event:after{
  content: "";
  display: table;
  clear: both;
}

.events{
  background-color: grey;
  margin-top: 10px;
}